*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent;
}
body {
  height: 100%;
  margin: 0;
  font-family: $core-font;
  font-size: $rem-baseline;
  color: $dark-color;
  background-color: #fff;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  @include rem(letter-spacing, 0.16px);
}
// responsive media
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

a {
  outline: none;
  text-decoration: none;
  color: $secondary-color;
  &:focus,
  &:hover,
  &:active,
  &.active {
    text-decoration: underline;
  }

}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

}