.btn {
  @include btn-appearence();
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  @include rem(padding, 7px 11px);
  @include no-select();
  font-size: $core-font-size;
  line-height: 1.5;
  @include rem(border, 1px solid transparent);
  -webkit-backface-visibility: hidden;
  outline: none;

  &:focus,
  &:hover {
    text-decoration: none;
    @include Opacity(0.90);
  }
  &:active{
    @include btn-active(0.20);
  }
   &[disabled],
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: .2;
    pointer-events: none;
  }
  &.is-small{
    @include rem(padding, 4px 8px);
    line-height: 1.5;
    @include rem(font-size, 13px);
  }

  &.is-large{
    @include rem(padding, 8px 16px);
    line-height: 1.5;
    @include  rem(font-size, 20px);
  }
}


