.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  font-size: $core-font-size;
  line-height: 1.5;
  border: 1px solid transparent;
  &:focus,
  &:hover {
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.80;
    text-decoration: none;
  }
}