.btn {
  @include btn-appearence();
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none!important;
  @include rem(padding, 5px 10px);
  @include no-select();
  font-size: $core-font-size;
  @include rem(border-radius,1.5px);
  line-height: 1.5;
  border: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  &:focus,
  &:hover {
    text-decoration: none;
    @include Opacity(0.88);
  }
  &:active{
    @include btn-active();
  }
}

