.is-primary{
  background-color: $primary-color;
  color:white;
}

.is-secondary{
  background-color: $secondary-color;
  color:white;
}


.is-success{
  background-color: $success-color;
  color:white;
}

.is-error{
  background-color: $error-color;
  color:white;
}

.is-warning{
  background-color: $warning-color;
  color:white;
}

.is-material{
  background-color: $material-color;
  color: white;
}

.is-grey{
  background-color: $grey-color;
  color: white;
}

.is-fancy{
  background-color: $fancy-color;
  color: white;
}

.text-white{
  color: white!important;
}

.is-link{
background-color: transparent;
  color: $link-color;
  &:active{
    @include btn-active(0)
  }
}


.text-black{
  color: black!important;
}

