.is-primary {
  background-color: $primary-color;
  color: white;
}

.is-secondary {
  background-color: $secondary-color;
  color: white;
}

.is-success {
  background-color: $success-color;
  color: white;
}

.is-dark {
  background-color: $dark-color;
  color: white;
}

.is-flat {
  background-color: $flat-color;
  color: white;
}

.is-error {
  background-color: $error-color;
  color: white;
}

.is-warning {
  background-color: $warning-color;
  color: black;
}

.is-material {
  background-color: $material-color;
  color: white;
}

.is-grey {
  background-color: $grey-color;
  color: white;
}

.is-fancy {
  background-color: $fancy-color;
  color: white;
}

.is-light {
  background-color: $light-color;
  color: $dark-color;
}

.is-deep-blue {
  background-color: $deep-blue-color;
  color: white;
}

.is-pink {
  background-color: $pink-color;
  color: white;
}

.is-brown {
  background-color: $brown-color;
  color: white;
}

.is-ios {
  background-color: $ios-color;
  color: $dark-color;
}

.is-white {
  background-color: white;
}

.is-slateblue {
  background-color: slateblue;
  color: white;
}

.is-seagreen {
  background-color: seagreen;
  color: white;
}

.is-crimson {
  background-color: crimson;
  color: white;
}

.is-white-shadowed {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.is-black {
  background-color: black;
  color: white;
}

.is-deep-purple {
  background-color: $deep-purple-color;
  color: white;
}

.is-link {
  background-color: transparent;
  color: $secondary-color;
  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

.is-transparent {
  background-color: transparent;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}

.text-muted {
  color: $muted-color;
}

.text-primary {
  color: $primary-color;
}

.text-success {
  color: $success-color;
}

.text-error {
  color: $error-color;
}

.text-grey {
  color: $grey-color;
}

.text-dark {
  color: $dark-color;
}

.text-warning {
  color: $warning-color;
}

.text-fancy {
  color: $fancy-color;
}

.text-brown {
  color: $brown-color;
}

//Everyone likes gradients
.is-gradient-green {
  background: linear-gradient(135deg, #81fbb8 0%, #28c76f 100%);
  color: white;
}

.is-gradient-orange {
  background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
  color: white;
}

.is-gradient-rose {
  background: #5f2c82;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5f2c82, #49a09d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5f2c82, #49a09d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.is-gradient-blue {
  background: -webkit-linear-gradient(-23deg, rgb(16, 35, 120), rgb(74, 0, 115));
  background: linear-gradient(-23deg, rgb(16, 35, 120), rgb(74, 0, 115));
  color: white;
}

.is-gradient-purple {
  background: #B993D6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8CA6DB, #B993D6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.is-gradient-candy {
  background: #D3959B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BFE6BA, #D3959B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.has-shadows {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}