.has-dropdown{
    position: relative;
}


.has-dropdown:hover > .dropdown{
    display: block;

    }
    
    
    .dropdown{
        display: none;
        position:absolute;
        padding:6px;
        z-index: 10;
        width: auto;
        text-align: left;
        li{
            padding: 5px;
        }
    }
.dropdown-right{
    left: auto;
    right: 0;
}