
.has-dropdown:hover > ul{
display: block;
}


.dropdown ul{
    display: none;
    position:absolute;
    padding:6px;
    z-index: 100;
    text-align: left;
    li{
        padding: 5px;
    }
}

.dropdown-left{
    @include rem(margin-left, -80px);
  
  }

  .dropdown-right{
    @include rem(margin-right, -80px);
  
  }