.form-input {
    appearance: none;
    width: 100%;
    display: block;
    @include rem(border, 1px solid #ccc);
    position: relative;
    @include rem(padding, 8px 4px 8px 10px);
    max-width: 100%;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    background-image: none;

    &:focus{
        border-color: $muted-grey;
        outline-color: transparent;
        &.is-circled{
            outline: none;
        }
    }
    
}

label,
legend {
    display: block;
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

fieldset {
    border-width: 0;
    padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline;
}

.label-inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: left;
    padding-top: 5px;
    text-align: right; // width: 140px;
    label {
        margin-right: 160px;
    }
}

input,
textarea {
    &.form-error {
        border-color: $error-color !important;
        &:focus{
            outline-color: $error-color;
        }
    }
    &.form-success {
        border-color: $success-color !important;
        &:focus{
            outline-color: $success-color;
        }
    }
    &.form-warning {
        border-color: $warning-color !important;
        &:focus{
            outline-color: $warning-color;
        }
    }
}

.has-icon-left,
.has-icon-right {
    position: relative;
    .form-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        @include rem(font-size, 25px);
    }
}

.has-icon-right .form-icon {
    @include rem(right, 13px);
}

.has-icon-left {
    .form-icon {
        @include rem(left, 13px);
    }
    .form-input {
        @include rem(padding-left, 48px);
    }
}

.is-lined{
    border-top:none;
    border-left: none;
    border-right: none;
    &:focus{
        outline: none;
        border-color: $muted-grey;
    }
}