.form-input {
    appearance: none;
    width: 100%;
    display: block;
    @include rem(border, 1px solid #ccc);
    position: relative;
    @include rem(padding, 8px 4px 8px 10px);
    max-width: 100%;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    background-image: none;
    &:focus {
        border-color: $muted-grey;
        outline-color: transparent;
        &.is-circled {
            outline: none;
        }
    }
}

label,
legend {
    display: block;
    font-size: 1rem;
    margin-bottom: .5rem;
}

fieldset {
    border-width: 0;
    padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
    display: inline-block;
}

.label-inline {
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: left;
    padding-top: 5px;
    text-align: right; // width: 140px;
    label {
        margin-right: 160px;
    }
}

input,
textarea {
    &.form-error {
        border-color: $error-color !important;
        &:focus {
            outline-color: $error-color;
        }
    }
    &.form-success {
        border-color: $success-color !important;
        &:focus {
            outline-color: $success-color;
        }
    }
    &.form-warning {
        border-color: $warning-color !important;
        &:focus {
            outline-color: $warning-color;
        }
    }
}

.has-icon-left,
.has-icon-right {
    position: relative;
    .form-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        @include rem(font-size, 25px);
    }
}

.has-icon-right{
    .form-icon {
        @include rem(right, 13px);
    }
    .form-input {
        @include rem(padding-right, 48px);
    }
} 

.has-icon-left {
    .form-icon {
        @include rem(left, 13px);
    }
    .form-input {
        @include rem(padding-left, 48px);
    }
}

.is-lined {
    border-top: none;
    border-left: none;
    border-right: none;
    &:focus {
        outline: none;
        border-color: $muted-grey;
    }
}

.form-radio,
.form-checkbox,
.form-switch {
    display: inline-block;
    @include rem(line-height, 16px);
    @include rem(padding-left, 29px);
    padding-top: 2px;
    position: relative;
    cursor: pointer;
    @include rem(min-height, 1.2rem);
    input {
        position: absolute;
        opacity: 0;
        width: 0;
        font-size: 0;
    }
}

.form-switch {
    @include rem(padding-left, 45px);
    .checkmark {
        @include rem(border-radius, 34px);
        @include rem(width, 36px);
        @include rem(height, 22px);
    }
    .checkmark:before {
        position: absolute;
        content: "";
        @include rem(height, 14px);
        @include rem(width, 14px);
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
}

.form-radio {
    .checkmark {
        border-radius: 50%;
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    @include rem(height, 20px);
    width: 20px;
    background-color: $muted-grey;
    @include rem(border-radius, 2px);
    transition: all .4s ease;
}

.form-checkbox,
.form-radio {
    &:hover input~.checkmark {
        background-color: #ccc;
    }
}

.form-checkbox,
.form-radio,
.form-switch {
    input {
        &:checked+.checkmark:before {
            transform: translateX(14px);
            will-change: transform;
        }
        &:checked~.checkmark {
            &.is-primary {
                background-color: $primary-color;
                border-color: $primary-color;
            }
            &.is-success {
                background-color: $success-color;
                border-color: $success-color;
            }
            &.is-dark {
                background-color: $dark-color;
                border-color: $dark-color;
            }
        }
    }
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-checkbox,
.form-radio {
    input {
        &:checked~.checkmark:after {
            display: block;
        }
    }
}

.form-checkbox {
    .checkmark:after {
        left: 7px;
        top: 2px;
        @include rem(width, 7px);
        @include rem(height, 12px);
        border: solid white;
        @include rem(border-width, 0 3px 3px 0);
        transform: rotate(45deg);
    }
}

.form-radio {
    .checkmark:after {
        top: 6px;
        left: 6px;
        @include rem(width, 8px);
        @include rem(height, 8px);
        border-radius: 50%;
        background: white;
    }
}