
//Ungrid css
@media (min-width: 30em) {
    .row { width: 100%;
      display: table;
      table-layout: fixed;
      *zoom:1;
      &.has-gutters{
       @include rem(border-spacing, 10px 0);
    }
    }
    .col { display: table-cell;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
    }
     .flex-row { display: -webkit-box;  display: -webkit-flex;  display: -ms-flexbox;  display: flex; /*align-items: flex-start*/;}
    .flex-col { flex: auto; }
}




