
@media (min-width: 30em) {
    .row { width: 100%;
      display: table;
      table-layout: fixed;
      *zoom:1;
      &.has-gutters{
       @include rem(border-spacing, 10px 0);
    }
    }
    .col { 
      display: table-cell;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
     .flex-row {  
       display: flex;
    }
    .flex-col { 
      flex: auto; 

    }
    .has-gutters .flex-col{
      @include rem(border-left, 5px solid transparent);
      @include rem(border-right, 5px solid transparent);
      background-clip: padding-box;
    }
}

.row {
  &.row-reversed{
    direction: rtl;
}
}

.flex-row{
  &.row-reversed{
    flex-direction: row-reverse;
  }
}
