@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.fadeIn{
  animation: fadeIn 1s;
  will-change: opacity;
}


@keyframes pulse {
  0% {
    color:rgb(255, 230, 0);
  text-shadow: 0 0 0px rgb(255, 230, 0);
  }
  50% {
    color:rgb(255, 230, 0);
    text-shadow: 0 0 50px rgb(255, 230, 0);
  }
  100% {
    color:rgb(255, 230, 0);
    text-shadow: 0 0 60px rgb(255, 230, 0);
  }
  
  
}

.pulse{
  animation: pulse 5s infinite;
}

@keyframes rotating{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}

.is-rotating{
  animation: rotating 40s linear infinite;
  will-change: transform;
}