.label {
    display: inline-block;
    padding-top: 1.3px;
    padding-bottom: 2.5px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 1;
    @include rem(border-radius, 2px);
    font-weight: 700;
    @include rem(font-size, 12px);
    -webkit-backface-visibility: hidden;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

a.label {
    display: inline-block;
    line-height: 1;
    font-weight: 900;
    @include rem(padding, 3px 4px 3px);
    @include rem(font-size, 11.7px);
    &:hover,
    &:focus {
        text-decoration: none;
        @include Opacity(0.83);
    }
}