@include  breakpoint(xs){
  .hide-xs{
    display: none!important;

  }

    .container{
      overflow: hidden;
      width: 100%;
      margin: 0px;
}


  .col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

}

@include breakpoint(sm){
 .boxed-layout{
    width: 100%;
    @include rem(padding-right, 150px);
    @include rem(padding-left, 150px);
    margin-right: auto;
    margin-left: auto;
}
  .hide-sm{
    display: none!important;
  }

  .col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666667%;
}
.col-sm-10 {
  width: 83.33333333%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666667%;
}
.col-sm-7 {
  width: 58.33333333%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666667%;
}
.col-sm-4 {
  width: 33.33333333%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-2 {
  width: 16.66666667%;
}
.col-sm-1 {
  width: 8.33333333%;
}




}

@include breakpoint(md){
  .hide-md{
    display: none!important;
  }
   .col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}

}

@include breakpoint(lg){
  .hide-lg{
    display: none!important;
  }
   .col-lg-12 {
  width: 100%;
}
.col-lg-11 {
  width: 91.66666667%;
}
.col-lg-10 {
  width: 83.33333333%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-8 {
  width: 66.66666667%;
}
.col-lg-7 {
  width: 58.33333333%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-5 {
  width: 41.66666667%;
}
.col-lg-4 {
  width: 33.33333333%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-2 {
  width: 16.66666667%;
}
.col-lg-1 {
  width: 8.33333333%;
}
  

}


.is-hidden{
  visibility: hidden;
}



.is-flex{
  display: flex;
}

.flex-left{
  margin-right: auto;
}

.flex-right{
  margin-left: auto;
}

.pt-10{
  @include rem(padding-top, 10px);
}

.pt-20{
  @include rem(padding-top, 20px);
}

.pt-30{
  @include rem(padding-top, 30px);
}
.pb-10{
  @include rem(padding-bottom, 10px);
}

.pb-20{
  @include rem(padding-bottom, 20px);
}

.pb-30{
  @include rem(padding-bottom, 30px);
}



.ptn-10{
  @include rem(padding-top, -10px);
}

.ptn-20{
  @include rem(padding-top, -20px);
}
.pbn-10{
  @include rem(padding-bottom, -10px);
}

.pbn-20{
  @include rem(padding-bottom, -20px);
}

.ml-10{
  @include rem(margin-left, 10px);
}

.ml-20{
  @include rem(margin-left, 20px);
}

.ml-30{
  @include rem(margin-left, 30px);
}


.mr-10{
  @include rem(margin-right, 10px);
}

.mr-20{
  @include rem(margin-right, 20px);
}

.mr-30{
  @include rem(margin-right, 30px);
}




.pl-10{
  @include rem(padding-left, 10px);
}

.pl-20{
  @include rem(padding-left, 20px);
}

.pl-30{
  @include rem(padding-left, 30px);
}


.pr-10{
  @include rem(padding-right, 10px);
}

.pr-20{
  @include rem(padding-right, 20px);
}

.pr-30{
  @include rem(padding-right, 30px);
}








.mt-10{
  @include rem(margin-top, 10px);
}

.mt-20{
  @include rem(margin-top, 20px);
}

.mt-30{
  @include rem(margin-top, 30px);
}

.mb-10{
  @include rem(margin-bottom, 10px);
}


.mb-20{
  @include rem(margin-bottom, 20px);
}

.mb-30{
  @include rem(margin-bottom, 30px);
}



.mtn-10{
  @include rem(margin-top, -10px);
}

.mtn-20{
  @include rem(margin-top, -20px);
}

.mtn-30{
  @include rem(margin-top, -30px);
}

.mbn-10{
  @include rem(margin-bottom, -10px);
}


.mbn-20{
  @include rem(margin-bottom, -20px);
}
.mbn-30{
  @include rem(margin-bottom, -30px);
}



.absol-right{
  position: absolute;
  right: 0;
}

.absol-left{
  position: absolute;
  left: 0;
}

.absol-center{
  position: absolute;
  top:50%;
  left:50%;

}

.flex-start{
  justify-content: flex-start;
}


.flex-end{
  justify-content: flex-end;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

@include breakpoint(xs){
  .flex-center{
    justify-content: center;
    align-items: center;
  }
  .flex-start {
    align-items: flex-start;
  }
}

.is-vertical {
  &.flex-center {
    align-items: center;
  }

  &.flex-start {
    align-items: flex-start;
  }
  &.flex-end {
    align-items: flex-end;
  }
}



.flex-start {
  align-items: flex-start;
}
.flex-end {
  align-items: flex-end;
}

  .fixed-left{
    position: fixed;
    left:0;
  }

  .fixed-right{
    position: fixed;
    right: 0;
  }

  .float-left{
    float:left!important;
  }

  .float-right{
    float:right!important;
  }

  .is-fixed{
    position: fixed;
  }

  .no-dragging{
    @include no-select();
  }

  .container {
    @include rem(padding-right, 12px);
    @include rem(padding-left, 12px);
    margin: 0 auto;
  }

    .container-center {
    margin: 0 auto;
    @include rem(max-width, 860px);
    @include rem(padding-right, 12px);
    @include rem(padding-left, 12px);
  }

  .container-1 {
    margin: 0 auto;
    @include rem(max-width, 1170px);
    @include rem(padding-right, 14px);
    @include rem(padding-left, 14px);
  }


  .container-2 {
    margin: 0 auto;
    @include rem(max-width, 1400px);
    @include rem(padding-right, 14px);
    @include rem(padding-left, 14px);
  }

  .text-center{
    text-align: center;
  }

  .text-left{
    text-align: left;
  }

  .text-right{
    text-align: right;
  }

  .img-centered{
    display:block;
    margin:0 auto;
    text-align: center;
    width:300px;

  }
  .is-active{
    display: block;
  }

  .text-upper{
    text-transform: uppercase;
  }

  .text-lower{
    text-transform: lowercase;
  }

  .text-justified{
  text-align: justify;
  }

  .is-centered{
    margin: 0 auto;
    text-align: center;
  }

  .fixed-centered{
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: center;
  }

  .is-rounded {
    @include rem(border-radius, 5px);
  }

  .is-circled {
    @include rem(border-radius, 50px!important);
  }

  .border-top {
    @include rem(border-top, 1px solid $grey-color);
  }


  .border-bottom {
    @include rem(border-bottom, 1px solid $grey-color);
  }

  .space-around{
    justify-content: space-around;
  }