.flex-navbar-mobile,
.navbar-mobile
{
    display: none;
}

@include breakpoint(xs){
    .flex-nav{
        display: none;
    &.is-vertical{
        ul{
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    .flex-navbar-mobile{
        display: flex;
        align-items: center;
        height: auto;
        @include rem(font-size, 15.5px);
        @include rem(padding-right,15px);
        
        & a,
        :hover{
            text-decoration: none;
        }
        .section-1 {
            flex: 1 2 auto;          
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          .section-2 {
            flex: 1 2 auto;  
            display: flex;
            justify-content: center;
            align-items: center;
            @include rem(padding-left, 70px);
    
          }
          .section-3 {
            flex: 1 2 auto;  
            display: flex;
            justify-content: flex-end;
            align-items: center;
    
          }
    }
    .nav-item{
        text-decoration: none;
        @include rem(padding, 0px 8px);
        &:hover,
        &:focus{
          @include Opacity(0.90);
          text-decoration: none;
        }
    }

     .navbar-mobile{
         display: block;
        min-height: 50px;
        width: 100%;
        @include rem(font-size, 15.5px);
        li{
            padding-top:13px;
        }
     }






}

.navbar-logo{
    @include rem(margin-left, 6px);
}

.toggle-flex-nav{
    display: flex;
    animation: fadeIn 1s;
    
}