.nav {

      list-style: none;
      margin: 0;
      @include rem(min-height, 60px);
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;

      width: 100%;
      ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top:0; 
          @include rem(min-height, 60px);
          -ms-overflow-style: -ms-autohiding-scrollbar;
          -webkit-overflow-scrolling: touch;
          white-space: nowrap;
        

      }
      .form {
        display: inline-block;
      }
      .navbar-logo{
        @include rem(padding-top, 5px);
      }
}

.nav li {
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
  @include rem(padding-top, 17px);
 
}

.has-dropdown li{
  display: block;

}

.nav-item{
    text-decoration: none;
    @include rem(padding, 0px 12px);
    &:hover,
    &:focus{
      @include Opacity(0.90);
      text-decoration: none;
    }
}

.nav-item a{
      text-decoration: none;
    &:hover,
    &:focus{
      @include Opacity(0.90);
      text-decoration: none;
    }
}



.flex-nav{
   list-style: none;
    padding-left: 0;
    margin-bottom: 0;
   display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  margin-top:0; 
  width: 100%;
  @include rem(min-height, 58px);
  ul{

  list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  margin-top:0; 
  align-items: center;
  @include rem(min-height, 58px);
}
  li{
    flex: 0 0 auto;
    @include rem(padding-top,5px);
    @include rem(padding-bottom,5px);
    @include rem(padding-left, 16px);
    -webkit-backface-visibility: hidden;
  }
}

/*.flex-nav.is-vertical{
    flex-direction: column;
}
*/
.no-padding{
  padding: 0;
}