.mobile-nav{
    display: none;
}


.navbar-mobile{
    display: none;
}

.desktop-nav{
    display: flex;
}

.flex-nav .navbar-logo{
    display: flex;
    align-self: center
}

@include breakpoint(xs){
    .nav{

        ul{
            overflow-x: auto;
        }
    }
    .is-vertical.dropdown{
        display: block;
        position: relative;
        background-color: inherit;
        text-align: inherit;
        z-index: 0;
    }
    

    .navbar-desktop{
        display:none;
    }

    .desktop-nav{
        display: none;
    }
    .flex-nav{
flex-direction: column;
    }

    .flex-nav{
        &.is-vertical{
            .desktop-nav{
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }


    .nav.is-vertical li{
        display: block;
      
      }

      .navbar-desktop.is-vertical li{
          display: block;
      }

    
    .mobile-nav{
        display: flex;
        align-items: center;
        height: auto;
        @include rem(font-size, 15.5px);
        @include rem(padding-right,12px);
        
        & a,
        :hover{
            text-decoration: none;
        }
        .section-1 {
            flex: 1 2 auto;          
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          .section-2 {
            flex: 1 2 auto;  
            display: flex;
            justify-content: center;
            align-items: center;
            @include rem(padding-right, 65px);
    
          }
          .section-3 {
            flex: 1 2 auto;  
            display: flex;
            justify-content: flex-end;
            align-items: center;
    
          }
    }
    .nav-item{
        text-decoration: none;
        @include rem(padding, 0px 8px);
        &:hover,
        &:focus{
          @include Opacity(0.90);
          text-decoration: none;
        }
    }

     .navbar-mobile{
         display: block;
        min-height: 60px;
        width: 100%;
        @include rem(font-size, 15.5px);
        ul{
            overflow-x: auto;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            margin-top:0; 
              -ms-overflow-style: -ms-autohiding-scrollbar;
              -webkit-overflow-scrolling: touch;
              white-space: nowrap;
          }
        li{
            display:inline-block;
            *display:inline; /*IE7*/
            *zoom:1; /*IE7*/
            @include rem(padding-top, 17px);
        }
        .navbar-logo{
            @include rem(padding-top, 7px);
        }

     }






}

.navbar-logo{
    @include rem(margin-left, 6px);
}

.toggle-flex-nav{
    display: flex;
    animation: fadeIn 1s;
    
}

.toggle-nav{
    display: block!important;
    animation: fadeIn 1s;
}