section {
	position: relative;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.ss-style-multitriangles::before
 {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}

.ss-style-multitriangles::before {
  top: -25px;
  background: inherit;
  box-shadow: -50px 50px 0 #005c5c, 50px -50px 0 #005c5c;
}


.ss-style-zigzag::before,
.ss-style-zigzag-after::after {
  right: 0;
  left: 0;
  z-index: 10;
  display: block;
  height: 90px;
  background-size: 25px 100%;
}

.ss-style-zigzag::before {
  top: -90px;
  background-image: linear-gradient(315deg, #007676 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(45deg, #005c5c 25%, rgba(0, 0, 0, 0) 25%);
  background-position: 50%;
}

.ss-style-zigzag-after::after {
  top: 100%;
  background-image: linear-gradient(135deg, #005c5c 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(225deg, #005c5c 25%, rgba(0, 0, 0, 0) 25%);
  background-position: 50%;
}
