h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}



h1,
.h1 {
@include rem(font-size, 40px);
}
h2,
.h2 {
@include rem(font-size, 36px);
}
h3,
.h3 {
@include rem(font-size, 28px);
}
h4,
.h4 {
@include rem(font-size, 24px);
}
h5,
.h5 {
@include rem(font-size, 18px);
}
h6,
.h6 {
@include rem(font-size, 16px);
}

mark{
  background-color: $marked-color;
}

pre {
    white-space: pre-line;
    word-wrap: break-word;
}