h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  margin-top: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}
.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.6rem;
}

.h3 {
  font-size: 1.4rem;
}

.h4 {
  font-size: 1.2rem;
}
.h5 {
  font-size: 1rem;
}
.h6 {
  font-size: .8rem;
}

mark{
  background-color: $marked-color;
}

