h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  margin-top: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}
.h1 {
@include rem(font-size, 32px);
}
.h2 {
@include rem(font-size, 25.6px);
}

.h3 {
@include rem(font-size, 22.6px);
}

.h4 {
@include rem(font-size, 19.4px);
}
.h5 {
@include rem(font-size, 16px);
}
.h6 {
@include rem(font-size, 12.8px);
}

mark{
  background-color: $marked-color;
}

