// Variables
$version: "0.1.0";
//colors
$light-color: #f7f7f7 !default;
$dark-color: #272a2d !default;
$primary-color: #5b9aff !default;
$secondary-color: #3498DB !default;
$success-color: #16c98d !default;
$error-color: #fa5e5b !default;
$warning-color: #feef6d !default;
$material-color: #37BC9B !default; //most used
$grey-color: #60646D !default; //most used
$fancy-color: #9E58DC !default;
$marked-color: #fff2a8 !default;
$link-color: #73B1D6 !default;
$flat-color: #3F4C5C !default;
$muted-color: #d9dce0 !default;
$deep-blue-color: #133999 !default;
$pink-color: #ff708e !default;
$muted-grey: #bcbcbc !default;
$brown-color: #BF955A !default;
$ios-color : rgba(220, 220, 220, 0.85) !default;
$deep-purple-color: #220833 !default;
//fonts
$core-font: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen,
Ubuntu,
Cantarell,
"Open Sans",
"Helvetica Neue",
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
$core-font-size: 1rem !default;
//shapes
$rounded: 0.25rem !default;